kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-dep
  namespace: nginx
spec:
  replicas: 2
  selector:
   matchLabels:
    app: nginx 
  template:
    metadata:
     labels:
      app: nginx
    spec:
      containers:
       - name: nginx
         image: nginx:latest
         ports:
         - containerPort: 80
         volumeMounts:
         - mountPath: /var/www/html
           name: local-pvc
      volumes:
      - name: local-pvc
        persistentVolumeClaim:
          claimName: local-pvc

# port forwarding CLUSTER IP :-- kubectl port-forward service/nginx-svc -n nginx 80:80 --address=0.0.0.0